.footer-p{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titulos{
    padding-left: 3%;;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.botao-enviar{
    margin-left: 40%;
}